.main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  border: 3px;
  background-color: #333333;
  color : #CDD0D2;
  font-family: 'Mogra', cursive;
}

.App-header{
  margin-top: 0;
  background-color: #212529;
  width: 100vw;
}